# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
node_modules

# fastedge-cli - should be downloaded during build from https://github.com/G-Core/FastEdge-lib/releases
fastedge-cli/

# VSCode workspace
.vscode/

# FastEdge build artifacts
.fastedge/bin/

# VSIX package
fastedge-*.vsix

# Using pnpm
package-lock.json

# Build files
build/
**/target/
dist/
exampleFolder/target/
runner
distr/
js-extension/

# Dev tools
.nx

